<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080336801292-goqhqe3vhpo6ojon8r7bomlbhq1qh8gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080336801292-goqhqe3vhpo6ojon8r7bomlbhq1qh8gt</string>
	<key>API_KEY</key>
	<string>AIzaSyASAR3mkvlsqtOfTiZVbUVjVEiC7N1KZNk</string>
	<key>GCM_SENDER_ID</key>
	<string>1080336801292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pepcorns.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pepcorns-9945f</string>
	<key>STORAGE_BUCKET</key>
	<string>pepcorns-9945f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080336801292:ios:4c7be0e010212a22c41829</string>
</dict>
</plist>